node_modules
.next
out
build
.git
.github
.env
.env.local
.env*.local
.env.production
*.log
.DS_Store
Dockerfile
.dockerignore
README.md
docker-compose*.yml
deploy
meili-db
coverage
*.tsbuildinfo
sm.xml
